*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #262626;
}
header{
    background: #F5E9E2;
    height: 90px;
}
.header_button{
    text-decoration: none;
    color: black;
    padding: 10px;
    margin: 20px;
    position: relative;
    left: 75%;
    top: 30%;
    border: 1px solid black;
}
#auth{
    left: 91%;
}
#auth img{
    max-width: 30px;
    max-height: 30px;
    vertical-align: middle;
}
#name{
    width: 70px;
    font-size: 30px;
    font-family: "Arial Black";
    margin: -10px 30px;
}
#main{
    height: 1000px;
    background-color: #262626;
}
#account{
    color: white;
    padding: 10px;
    font-size: 30px;
    font-family: "Arial Black";
    position: relative;
    width: 250px;
    top: 70px;
    border: 1px solid white;
    left: 50px;
}
#line {
    position: relative;
    width: 1300px;
    height: 40px;
    top: 17%;
    left: 10%;
    border-bottom: 1px solid #76818E;
}
.tools{
    position: relative;
    text-decoration: none;
    padding: 40px;
    color: #76818E;
    font-family: "Arial Black";
    font-size: 18px;
}
.image{
    background: white;
    border-radius: 100%;
    width: 150px;
    height: 150px;
    position: relative;
    top: 250px;
    left: 750px;
}
#data{
    border: 1px solid #F5E9E2;
    position: relative;
    width: 1000px;
    height: 415px;
    top: 30%;
    left: 20%;
}
.box {
    color: black;
    font-family: "Arial Black";
    font-size: 20px;
    margin: 10px;

}
#container{
    width: 250px;
    height: 200px;
    position: relative;
}
.imageInfo{
    width: 40px;
    height: 40px;
}

#name_footer{
    width: 70px;
    font-size: 30px;
    font-family: "Arial Black";
    position: relative;
    top: 30%;
    left: 30px;
}
#footer{
    background: #F5E9E2;
    height: 250px;
    position: relative;
    top: 150px;
}
#motto_image{
    width: 150px;
    height: 150px;
    position: relative;
    top: -30px;
    left: 85%;
}
#motto{
    position: relative;
    width: 300px;
    top: 70px;
    left: 30px;
    font-size: 20px;
    font-family: Arial;
}