*{
    margin: 0;
    padding: 0;
}
.btn-outline-danger {
    border-color: black;
    color: black;
}

.btn-outline-danger:hover,
.btn-outline-danger:checked,
.btn-outline-danger:active{
    color: #ffffff;
    background-color: #393E41;
    border-color: #393E41;
}
.btn-primary {
    background-color: #393E41;
    border-color: #393E41;
    color: white;
}

.btn-primary:hover {
    background-color: #343434;
    border-color: #343434;
    color: #ffffff;
}
header{
    background: #F5E9E2;
    height: 90px;
}
#register_page{
    background: #262626;
}
#register_form {
    background: #F5E9E2;
    height: 450px;
    width: 300px;
    border: 10px solid #262626;
    border-style: double;
    margin: auto;
    padding: 10px 10px 10px 10px;
    position: relative;
    top: 20%;
    transform: translateY(20%);
}
.image{
    background: white;
    border-radius: 100%;
    width: 150px;
    height: 150px;
    position: relative;
    top: 40px;
    left: 575px;
}
.image:hover{
    cursor: pointer;
    opacity: 0.5;
}
.hoverImage {
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
    position: absolute;
    top: 180px;
    left: 770px;
}
.container:hover .hoverImage {
    opacity: 0.9; /* Показуємо маленьку картинку при наведенні */
}
.container:hover .image {
    opacity: 0.7;

}
a:hover,
a{
    text-decoration: none;
    color: black;
    padding: 10px;
    margin: 20px;
    position: relative;
    left: 77%;
    top: 30%;
    border: 1px solid black;
}
#name{
    width: 70px;
    font-size: 30px;
    font-family: "Arial Black";
    margin: -5px 30px;
}
#name_footer{
    width: 70px;
    font-size: 30px;
    font-family: "Arial Black";
    position: relative;
    top: 30%;
    left: 30px;
}
#footer{
    background: #F5E9E2;
    height: 250px;
    position: relative;
    top: 150px;
}
#motto_image{
    width: 150px;
    height: 150px;
    position: relative;
    top: -30px;
    left: 85%;
}
#motto{
    position: relative;
    width: 300px;
    top: 70px;
    left: 30px;
    font-size: 20px;
    font-family: Arial;
}





