*{
    margin: 0;
    padding: 0;
}
header{
    background: #F17105;
    height: 40px;
}
body{
    background: #27213C;
    height: 2000px;
}
#register_form {
    background: #F17105;
    height: 300px;
    width: 200px;
    border: 10px solid #27213C;
    border-style: double;
    margin: auto;
    padding: 10px 5px 10px 20px;
    position: relative;
    top: 50%;
    transform: translateY(50%);
}
#main_header{
    background-image: url('Images/header.png');
    background-repeat: no-repeat;
    height: 500px;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
}

