#name_footer{
  width: 70px;
  font-size: 30px;
  font-family: "Lucida Calligraphy";
  position: relative;
  top: 30%;
  left: 30px;
  color: #EEE5E9;
}
#footer{
  background: #433A3F;
  height: 250px;
  position: relative;
  top: 150px;
}
#motto_image{
  width: 150px;
  height: 150px;
  position: relative;
  top: -30px;
  left: 85%;
}
#motto{
  position: relative;
  width: 300px;
  top: 70px;
  left: 30px;
  font-size: 20px;
  font-family: Arial;
  color: #EEE5E9;
}
