.btn-outline-danger {
    border-color: black;
    color: black;
}

.btn-outline-danger:hover,
.btn-outline-danger:checked,
.btn-outline-danger:active{
    color: black;
    background-color: #EEE5E9;
    border-color: #EEE5E9;
}
.btn-primary {
    background-color: #EEE5E9;
    border-color: #EEE5E9;
    color: black;
}

.btn-primary:hover {
    background-color: #EEE5E9;
    border-color: #EEE5E9;
    color: black;
}
*{
    margin: 0;
    padding: 0;
}
header{
    background: #433A3F;
    height: 90px;
}
#login_page{
    background: #EEE5E9;
}
#login_form {
    background: #433A3F;
    height: 400px;
    width: 300px;
    border: 10px solid #262626;
    border-style: double;
    margin: auto;
    padding: 10px 10px 10px 10px;
    position: relative;
    top: 30%;
    transform: translateY(20%);
}
a:hover,
a{
    text-decoration: none;
    color: #EEE5E9;
    padding: 10px;
    margin: 20px;
    position: relative;
    left: 77%;
    top: 30%;
    border: 1px solid #EEE5E9;
}
#name{
    width: 70px;
    font-size: 30px;
    font-family: "Lucida Calligraphy";
    margin: -5px 30px;
    color: #EEE5E9;
}
#name_footer{
    width: 70px;
    font-size: 30px;
    font-family: "Lucida Calligraphy";
    position: relative;
    top: 30%;
    left: 30px;
    color: #EEE5E9;
}
#footer{
    background: #433A3F;
    height: 250px;
    position: relative;
    top: 150px;
}
#motto_image{
    width: 150px;
    height: 150px;
    position: relative;
    top: -30px;
    left: 85%;
}
#motto{
    position: relative;
    width: 300px;
    top: 70px;
    left: 30px;
    font-size: 20px;
    font-family: Arial;
    color: #EEE5E9;
}