<body id="main_page">
<header id="main_header">
  <div id="tools">
    <a class="header_button" id="register" href="/register">Register</a>
    <a class="header_button" id="auth" href="../LoginPage/login.html">Log in</a>
    <a class="header_button" id="about" href="../AboutUs/about_page.html">About us</a>
  </div>
  <div id="toolsAfterRegister" style="display: none;">
    <a class="header_buttonAfterRegister" id="authAfterRegister" href="../ProfilePage/profile_page.html">
      <img src="../../Images/auth.png" alt=""> Profile</a>
    <a class="header_buttonAfterRegister" id="aboutAfterRegister" href="../AboutUs/about_page.html">About us</a>
  </div>
  <div id="name">Real estate agency REALTOR</div>
</header>
<main id="main">
  <div id="nameForObject">Browse apartments</div>
  <div id="apartContainer"></div>
</main>
</body>
