.btn-outline-danger {
  border-color: black;
  color: black;
}
main{
  height: 600px;
}
.btn-outline-danger:hover,
.btn-outline-danger:checked,
.btn-outline-danger:active{
  color: black;
  background-color: #EEE5E9;
  border-color: #EEE5E9;
}
.btn-primary {
  background-color: #EEE5E9;
  border-color: #EEE5E9;
  color: black;
  margin: -5px 5px 0px 0px;
}

.btn-primary:hover {
  background-color: #EEE5E9;
  border-color: #EEE5E9;
  color: black;
}
*{
  margin: 0;
  padding: 0;
}
header{
  background: #433A3F;
  height: 90px;
}
#login_page{
  background: #EEE5E9;
}
#login_form {
  background: #433A3F;
  height: 400px;
  width: 300px;
  border: 10px solid #262626;
  border-style: double;
  margin: auto;
  padding: 10px 10px 10px 10px;
  position: relative;
  transform: translateY(20%);
}
a:hover,
a{
  text-decoration: none;
  color: #EEE5E9;
  padding: 10px;
  margin: 20px;
  position: relative;
  left: 77%;
  top: 30%;
  border: 1px solid #EEE5E9;
}
#name{
  width: 70px;
  font-size: 30px;
  font-family: "Lucida Calligraphy";
  margin: -5px 30px;
  color: #EEE5E9;
}
input.ng-touched.ng-invalid {
  border: solid red 2px;
  background-image: url('../../../assets/Images/invalid.png');
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 25px 25px;
}
input.ng-touched.ng-valid{
  border: solid green 2px;
  background-image: url('../../../assets/Images/valid.png');
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 25px 25px;
}



